body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 62.5%;
	font-family: Helvetica;
	overflow-x: hidden; 
}
/* ----黑色遮罩层----- */
.coll-container-decorator {
	margin: 0 auto;
	position: relative;
	left: 50%;
	margin-left: -512px;
	width: 1024px;
	height: 1851px;
	background-color: #000000;
	z-index: 0;

	filter:alpha(opacity=60);  
     -moz-opacity:0.60;  
     -khtml-opacity: 0.60;  
     opacity: 0.60; 

     border-radius: 18px;
     -moz-border-radius: 18px;
     -webkit-border-radius: 18px;
}
/* ----黑色遮罩层----- */
.coll-container {
	margin: -1869px auto 0 auto;
	font-family: "Microsoft YaHei"  !important;
	text-align: center;
	z-index: 666;
	height: 1851px;
}
.coll-wrapper {
	position: relative;
	left: 50%;
	margin-left: -512px;
	width: 1024px;
}
.coll-content {
	width: 802px;
	margin: 0 auto;
	padding-top: 43px;
}
.coll-title {
	font-size: 18px;
	color: #1bb1d6;
	margin: 0 auto 27px;
}
.coll-main-content {
	color: #ffffff;
	font-size: 12px;
	text-align: justify;
	margin: 0 0 31px 0;
	line-height: 1.6;

}
.coll-content-img {
	margin-bottom: 29px;
}
.coll-content-img img:first-child{
	margin-right: 6px;
}