body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 62.5%;
	font-family: Helvetica;
	overflow-x: hidden; 
}
.safe-container {
	/*margin: -2699px auto 0 auto;*/
	font-family: "Microsoft YaHei"  !important;
	text-align: center;
	z-index: 666;
}
.safe-wrapper {
	position: relative;
	left: 50%;
	margin-left: -512px;
	width: 1024px;
}
.safe-content-container {
	margin: 0 auto;
	position: relative;
	left: 50%;
	margin-left: -512px;
	margin-bottom: 12px;
	width: 1024px;
	background-color: #000000;
	z-index: 0;

	filter:alpha(opacity=60);  
     -moz-opacity:0.60;  
     -khtml-opacity: 0.60;  
     opacity: 0.60; 

     border-radius: 18px;
     -moz-border-radius: 18px;
     -webkit-border-radius: 18px;
}
.safe-content {
	width: 800px;
	margin: 0 auto;
	padding: 12px 0 18px 0;
}
.safe-title {
	font-size: 24px;
	color: #1ca6c7;
	margin: 0 0 10px 0;
	text-align: left;
	word-break:break-all;
}
.safe-main-content {
	color: #ffffff;
	font-size: 12px;
	text-align: justify;
	margin: 0 0 10px 0;
	line-height: 1.5;
}
.safe-content-container h2 {
	color: #ffffff;
	font-size: 18px;
	text-align: justify;
	margin: 0;
	line-height: 1.2;
}
.safe-content-container h3 {
	color: #ffffff;
	font-size: 14px;
	text-align: justify;
	margin: 0;
	line-height: 1.2;
}
